@import 'tailwindcss';

body{
  background-color: #111;
  color: #fff;
}

h1{
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-decoration: underline;
}